<div class="page-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
  <button *ngIf="!(subDataProcessing$ | async)" mat-raised-button class="search-buttom" color="primary" (click)="onGetSubscriberCount()">Get Subscriber Count</button>
  <ul *ngIf="(subCountData$ | async) as subData">
    <li>Subscribers on Database: {{ subData.databaseSubCount }}</li>
    <li>Subscribers on SendGrid: {{ subData.sendGridSubCount }}</li>
    <li>Unsubs on Database: {{subData.databaseUnsubCount}}</li>
  </ul>
  <div class="loading-spinner-container" *ngIf="subDataProcessing$ | async" fxLayoutAlign="center center">
    <mat-progress-spinner 
      color="primary" 
      mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div class="load-error" *ngIf="(subDataProcessingError$ | async) as error" fxLayoutAlign="center center">
    Error with sub data request: {{ error }}. Please check the function logs for more details.  
  </div>
</div>
