// .couponForm {
//   padding: 16px;
// }

mat-form-field {
  width: 100%;
}

.date-picker {
  width: 120px;
}

.hour-picker, .min-picker {
  max-width: 80px;
}

mat-slide-toggle {
  margin-top: 16px;
}