<div class="page-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="title">Product Form</div>

  <div class="product-image-upload-section" fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="imageUploadProcessing$ | async">
      <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div>
      <h3>Card Image (500x200)</h3>
    </div>
    <div class="product-image-input card-image" *ngIf="!(imageUploadProcessing$ | async)">
      <input #imageInput style="display: none" type="file" accept="image/*" id="file" (change)="onUploadCardImage($event)">
      <button mat-raised-button color="accent" (click)="imageInput.click()">Choose Card Image</button>
    </div>
    <div *ngIf="(cardImageProps$ | async) as imageData">
      <img class="product-image-display" [src]="imageData.src" [alt]="(product$ | async)?.name">
    </div>
    <div>
      <h3>Hero Image (2000x938)</h3>
    </div>
    <div class="product-image-input hero-image" *ngIf="!(imageUploadProcessing$ | async)">
      <input #imageInput style="display: none" type="file" accept="image/*" id="file" (change)="onUploadHeroImage($event)">
      <button mat-raised-button color="accent" (click)="imageInput.click()">Choose Hero Image</button>
    </div>
    <div *ngIf="(heroImageProps$ | async) as imageData">
      <img class="product-image-display" [src]="imageData.src" [alt]="(product$ | async)?.name">
    </div>
  </div>

  <div class="product-form-container" fxLayout="column" fxLayoutAlign="center center">
    <form 
      class="product-form" 
      [formGroup]="productForm"
      (ngSubmit)="onSave()"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="16px"
      >
      <mat-form-field class="name">
        <input matInput formControlName="name" type="text" placeholder="Product Name">
        <mat-error *ngFor="let validation of productValidationMessages.name">
          <mat-error *ngIf="name.hasError(validation.type) && name.invalid && (name.dirty || name.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="price">
        <input matInput formControlName="price" type="number" placeholder="Product Price">
        <mat-error *ngFor="let validation of productValidationMessages.price">
          <mat-error *ngIf="price.hasError(validation.type) && price.invalid && (price.dirty || price.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="listOrder">
        <input matInput formControlName="listOrder" type="number" placeholder="Product List Order">
        <mat-error *ngFor="let validation of productValidationMessages.listOrder">
          <mat-error *ngIf="listOrder.hasError(validation.type) && listOrder.invalid && (listOrder.dirty || listOrder.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="tagline">
        <textarea matInput cdkTextareaAutosize (keydown.enter)="textareaEnterPressed($event)" formControlName="tagline" type="text" placeholder="Product Tagline"></textarea>
        <mat-error *ngFor="let validation of productValidationMessages.tagline">
          <mat-error *ngIf="tagline.hasError(validation.type) && tagline.invalid && (tagline.dirty || tagline.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Product Category</mat-label>
        <mat-select formControlName="productCategory">
          <mat-option *ngFor="let category of productCategories" [value]="category.id" (selectionChange)="updateProductCategory($event)">{{ category.name }} </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="highlights-array-container" fxLayout="column" fxLayoutAlign="center center">
        <button class="add-highlight-button" mat-raised-button color="primary" type="button" (click)="onAddHighlight()">
          <mat-icon>add</mat-icon> Add Highlight
        </button>
        <div class="highlight-container" formArrayName="highlights" *ngFor="let highlight of highlights.controls; let i = index;" fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field class="highlight">
            <input matInput [formControl]="highlight" type="text" placeholder="Product Highlight">
            <mat-error *ngFor="let validation of productValidationMessages.highlights">
              <mat-error *ngIf="highlight.hasError(validation.type) && highlight.invalid && (highlight.dirty || highlight.touched)">{{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
          <button *ngIf="i > minHighlightsLength - 1" class="remove-highlight-button" mat-icon-button color="primary" type="button" (click)="onRemoveHighlight(i)">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
      <mat-form-field class="pageHeroSubtitle">
        <textarea matInput cdkTextareaAutosize (keydown.enter)="textareaEnterPressed($event)" formControlName="pageHeroSubtitle" type="text" placeholder="Hero Subtitle"></textarea>
        <mat-error *ngFor="let validation of productValidationMessages.pageHeroSubtitle">
          <mat-error *ngIf="pageHeroSubtitle.hasError(validation.type) && pageHeroSubtitle.invalid && (pageHeroSubtitle.dirty || pageHeroSubtitle.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="buyNowBoxSubtitle">
        <textarea matInput cdkTextareaAutosize (keydown.enter)="textareaEnterPressed($event)" formControlName="buyNowBoxSubtitle" type="text" placeholder="Buy Now Box Subtitle"></textarea>
        <mat-error *ngFor="let validation of productValidationMessages.buyNowBoxSubtitle">
          <mat-error *ngIf="buyNowBoxSubtitle.hasError(validation.type) && buyNowBoxSubtitle.invalid && (buyNowBoxSubtitle.dirty || buyNowBoxSubtitle.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="checkoutHeader">
        <textarea matInput cdkTextareaAutosize (keydown.enter)="textareaEnterPressed($event)" formControlName="checkoutHeader" type="text" placeholder="Checkout Header"></textarea>
        <mat-error *ngFor="let validation of productValidationMessages.checkoutHeader">
          <mat-error *ngIf="checkoutHeader.hasError(validation.type) && checkoutHeader.invalid && (checkoutHeader.dirty || checkoutHeader.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="checkoutDescription">
        <textarea matInput cdkTextareaAutosize (keydown.enter)="textareaEnterPressed($event)" formControlName="checkoutDescription" type="text" placeholder="Checkout Description"></textarea>
        <mat-error *ngFor="let validation of productValidationMessages.checkoutDescription">
          <mat-error *ngIf="checkoutDescription.hasError(validation.type) && checkoutDescription.invalid && (checkoutDescription.dirty || checkoutDescription.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <div class="form-actions" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <button class="submit-button" [disabled]="productForm.invalid || !productInitialized" mat-raised-button color="accent" type="button" (click)="onSave()">Save Product</button>
        <button *ngIf="isNewProduct" class="discard-button" [disabled]="!productInitialized" mat-raised-button color="warn" type="button" (click)="onDiscardEdits()">Discard Product</button>
        <button *ngIf="!isNewProduct" class="discard-button" [disabled]="!productInitialized" mat-raised-button color="warn" type="button" (click)="onDiscardEdits()">Discard Edits</button>
      </div>
    </form>
  </div>
</div>