<mat-toolbar color="primary">
  
  <!-- Logo -->
  <div>
    <a routerLink="/" class="logo">Admin</a>
  </div>

  <div *ngIf="(userAuth$ | async)" fxFlex fxLayoutAlign="flex-end" >
    <!-- Nav Items: Only display if screen is md or greater -->
    <div class="nav-items-container" fxHide fxShow.gt-sm="true" >
      <ul fxLayout="row" fxLayoutGap="24px" class="nav-items">
        <li class="nav-list-item">
          <a class="nav-item" routerLinkActive="nav-item-active" [routerLink]="appRoutes.HOME">Home</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item" routerLinkActive="nav-item-active" [routerLink]="appRoutes.ORDERS_DASHBOARD">Orders</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item" routerLinkActive="nav-item-active" [routerLink]="appRoutes.BLOG_DASHBOARD">Blog</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item" routerLinkActive="nav-item-active" [routerLink]="appRoutes.PRODUCT_DASHBOARD">Products</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item" routerLinkActive="nav-item-active" [routerLink]="appRoutes.SUBSCRIBER_DASHBOARD">Subscribers</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item" routerLinkActive="nav-item-active" [routerLink]="appRoutes.CONTACT_FORM_DASHBOARD">Contact Forms</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item" routerLinkActive="nav-item-active" [routerLink]="appRoutes.DATA_IMPORTS">Data Imports</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item" routerLinkActive="nav-item-active" [routerLink]="appRoutes.PROFILE">Profile</a>
        </li>
        <div class="logout-item">
          <button class="logout-button" mat-raised-button (click)="onLogout()">Logout</button>
        </div>

      </ul>
    </div>
  
    <!-- Menue Icon: Only display if screen is sm or less -->
    <div class="menu-button" fxHide.gt-sm>
      <button (click)="onToggleSidenav()" #matButton mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>

</mat-toolbar>
