@import '../../../../../variables';

.product-card {
  padding: 32px;
}

.card-title {
  font-size: 2em;
  font-weight: $font-weight-medium;
}

.card-actions {
  width: 100%;
}

.user-actions {
  width: 100%;
}

.admin-actions {
  width: 100%;
  pointer-events: all;
}

.action-button {
  width: $desktop-button-width;
  font-size: 1em;
}

.card-image {
  max-width: 100%;
}

.clone-button {
  color: green;
  margin-left: 16px;
}

@include textBlockBullets();

ul li {
  background-position: 0px 3px;
}

@media screen and (max-width: $mobile-cutoff-width) {
  .product-card {
    pointer-events: all;
    padding: 16px;
  }

  .card-image {
    margin-bottom: 16px;
  }

  .action-button {
    width: 100%;
  }
}