<div class="page-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
  <button *ngIf="!(exportProcessing$ | async)" mat-raised-button class="search-buttom" color="primary" (click)="onExportSubscribers()">Export Subscribers</button>
  <div class="loading-spinner-container" *ngIf="exportProcessing$ | async" fxLayoutAlign="center center">
    <mat-progress-spinner 
      color="primary" 
      mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div class="load-error" *ngIf="(exportError$ | async) as error" fxLayoutAlign="center center">
    Error exporting subscribers: {{ error }}. Please check the function logs for more details.  
  </div>
  <a *ngIf="(downloadUrl$ | async) as downloadUrl" [href]="downloadHref" mat-raised-button class="download-button" color="accent" target="_self" download>
    Download Report
  </a>
</div>
