
<div class="page-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="create-post-container" fxLayout="row" fxLayoutAlign="center center">
    <button class="create-post-button" mat-raised-button (click)="onCreatePost()">Create Post</button>
  </div>
  <mat-tab-group *ngIf="!(deletionProcessing$ | async) && posts$ | async as posts" mat-stretch-tabs>
    <mat-tab label="Drafts" >
      <div class="blog-container">
        <div class="grid-container" gdColumns="repeat(auto-fill, minmax(300px, 1fr))" gdAlignRows="center center" gdGap="32px">
          <app-post-card *ngFor="let post of posts | unpublishedPostFilter" [post]="post" fxLayout="column"></app-post-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Published">
      <div class="blog-container">
        <div class="grid-container" gdColumns="repeat(auto-fill, minmax(300px, 1fr))" gdAlignRows="center center" gdGap="32px">
          <app-post-card *ngFor="let post of posts | publishedPostFilter" [post]="post" fxLayout="column"></app-post-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>