@import '../../../../../variables';

:host {
  width: 100%;
  max-width: 1000px;
}

.create-post-container {
  margin: 16px;
}

.create-post-button {
  background-color: $accent;
  color: white;
}

mat-tab-group {
  width: 100%;
}

.blog-container {
  max-width: 100%;
  padding: 16px;
}