<div class="page-container" fxLayout="column" fxLayoutAlign="center center">

  <mat-form-field class="search-bar">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="order-table mat-elevation-z8" matSort>
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let order">{{order.createdDate | date: 'MM/dd/yyyy HH:mm'}}</td>
      </ng-container>
  
      <ng-container matColumnDef="orderNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order #</th>
        <td mat-cell *matCellDef="let order">{{order.orderNumber}}</td>
      </ng-container>
  
      <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
        <td mat-cell *matCellDef="let order">{{order.productId | productIdToName | async}}</td>
      </ng-container>
  
      <ng-container matColumnDef="amountPaid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let order">${{(order.amountPaid / 100) | number:'1.2'}}</td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let order">{{order.status}}</td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let order">{{order.email}}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let order; columns: displayedColumns;" (click)="onSelectOrder(order)"></tr>
    </table>
  
    <div class="loading-spinner-container" *ngIf="isLoading$ | async" fxLayoutAlign="center center">
      <mat-progress-spinner 
        color="primary" 
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
  
    <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
</div>