<div class="page-content" fxLayout="column" fxLayoutAlign="center center">
  
  <div class="hero-upload-section" fxLayout="column" fxLayoutAlign="center center">
    <div>
      <h3>Thumbnail Image (use Youtube dimensions)</h3>
    </div>
    <div *ngIf="imageUploadProcessing$ | async">
      <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="hero-image-input" *ngIf="!(imageUploadProcessing$ | async)">
      <input #heroImageInput style="display: none" type="file" accept="image/*" id="file" (change)="onUploadHeroImage($event)">
      <button mat-raised-button color="accent" (click)="heroImageInput.click()">Choose Thumbnail Image</button>
    </div>
    <div *ngIf="(heroImageProps$ | async) as heroImage">
      <img class="hero-image-display" [src]="heroImage.src" [srcset]="heroImage.srcset" [sizes]="heroImage.sizes" [width]="heroImage.width" [alt]="title">
    </div>
  </div>

  <div *ngIf="postLoaded || isNewPost" class="blog-content-section" fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="postForm" (keydown.enter)="$event.preventDefault()" fxFlexFill >
      
      <!-- <mat-form-field class="blogDomain">
        <mat-label>Select Blog Domain</mat-label>
        <mat-select formControlName="blogDomain">
          <mat-option *ngFor="let domain of blogDomains" [value]="domain">{{ domain }}</mat-option>
        </mat-select>
        <mat-error *ngFor="let validation of postValidationMessages.blogDomain">
          <mat-error *ngIf="blogDomain.hasError(validation.type) && blogDomain.invalid && (blogDomain.dirty || blogDomain.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field> -->

      <mat-form-field class="post-title">
        <input matInput formControlName="title" type="text" placeholder="Post Title">
        <mat-error *ngFor="let validation of postValidationMessages.title">
          <mat-error *ngIf="title.hasError(validation.type) && title.invalid && (title.dirty || title.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="video-url">
        <input matInput formControlName="videoUrl" type="text" placeholder="Video Url">
        <mat-error *ngFor="let validation of postValidationMessages.videoUrl">
          <mat-error *ngIf="videoUrl.hasError(validation.type) && videoUrl.invalid && (videoUrl.dirty || videoUrl.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="description">
        <textarea matInput cdkTextareaAutosize (keydown.enter)="textareaEnterPressed($event)" formControlName="description" type="text" placeholder="Post Description"></textarea>
        <mat-hint>Max {{ descriptionMaxLength }} characters <span style="float: right;">{{ description.value.length }} / {{ descriptionMaxLength }}</span></mat-hint>
        <mat-error *ngFor="let validation of postValidationMessages.description">
          <mat-error *ngIf="description.hasError(validation.type) && description.invalid && (description.dirty || description.touched)">{{ validation.message }} <span style="float: right;">{{ description.value.length }} / {{ descriptionMaxLength }}</span> </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="keywords">
        <textarea matInput cdkTextareaAutosize (keydown.enter)="textareaEnterPressed($event)" formControlName="keywords" type="text" placeholder="Post keywords"></textarea>
        <mat-hint>Max {{ keywordsMaxLength }} characters <span style="float: right;">{{ keywords.value.length }} / {{ keywordsMaxLength }}</span></mat-hint>
        <mat-error *ngFor="let validation of postValidationMessages.keywords">
          <mat-error *ngIf="keywords.hasError(validation.type) && keywords.invalid && (keywords.dirty || keywords.touched)">{{ validation.message }} <span style="float: right;">{{ keywords.value.length }} / {{ keywordsMaxLength }}</span> </mat-error>
        </mat-error>
      </mat-form-field>

      <ckeditor
        class="ck-editor-panel"
        [editor]="Editor" 
        formControlName="content"
        (ready)="onEditorAdaptorPluginRdy($event)"
        (keydown.enter)="textareaEnterPressed($event)"
        ></ckeditor>
      <div class="form-actions" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <button class="submit-button" [disabled]="!postInitialized" mat-raised-button color="accent" type="button" (click)="onSave()">Save Post</button>
        <button *ngIf="isNewPost" class="discard-button" [disabled]="!postInitialized" mat-raised-button color="warn" type="button" (click)="onDiscardEdits()">Discard Post</button>
        <button *ngIf="!isNewPost" class="discard-button" [disabled]="!postInitialized" mat-raised-button color="warn" type="button" (click)="onDiscardEdits()">Discard Edits</button>
      </div>
    </form>
  </div>
</div>