@import '../../../../../variables';

$blog-content-max-width: 800px;

.page-content {
  margin-bottom: 32px;
}

.hero-upload-section {
  text-align: center;
}

.hero-image-input {
  margin-bottom: 16px;
}

.hero-image-display {
  width: 100%;
  max-width: $blog-content-max-width;
}

.blog-content-section {
  margin-top: 32px;
  width: $blog-content-max-width;
}

mat-form-field {
  width: 100%;
}

mat-hint {
  width: 100%;
}

.description {
  margin-bottom: 16px;
}

.keywords {
  margin-bottom: 16px;
}

.ck [role="textbox"] {
  min-height: 300px;
}

// .ck-editor-panel {
//   min-height: 500px;
// }

// :host ::ng-deep .ck-editor__editable {
//   min-height: 400px;
// }

// .image-style-side {
//   float: right;
// }

// figcaption {
//   color: #333;
//   background-color: #f7f7f7;
//   padding: .6em;
//   font-size: .75em;
//   text-align: center;
// }

.submit-button {
  margin-top: 16px;
}

.discard-button {
  margin-top: 16px;
}

@media screen and (max-width: $mobile-cutoff-width) {
  .blog-content-section {
    width: 95%;
    margin: 0 auto;
  }
}