<mat-card fxLayout="column" fxLayoutAlign="end start">
  <mat-card-content (click)="onPreviewBlogItem()" >
    <div *ngIf="post.imageProps">
      <img class="post-image" [src]="thumbnailSrc" [alt]="post.title">
    </div>
    <div *ngIf="!post.imageProps">
      <img class="post-image" [src]="heroPlaceholderPath">
    </div>
    <div class="card-text">
      <h2>{{ post.title }}</h2>
      <p><small>Modified by {{ post.author }} &bull; {{ post.modifiedDate | date }}</small></p>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout="column" fxLayoutGap="8px">
    <div class="card-actions" fxLayout="row">
      <div class="primary-actions" fxLayout="row" fxLayoutGap="16px">
        <button *ngIf="!(isTogglingPublished$ | async) && !post.published" [disabled]="!post.readyToPublish" mat-raised-button class="publish-button" color="accent" (click)="onTogglePublishPost()">Publish</button>
        <button *ngIf="!post.published" [disabled]="!post.readyToPublish" mat-icon-button class="schedule-button" color="accent" (click)="onSchedulePost()">
          <mat-icon>access_time</mat-icon>
        </button>
        <button *ngIf="!(isTogglingPublished$ | async) && post.published" mat-raised-button class="publish-button" color="accent" (click)="onTogglePublishPost()">Un-Publish</button>
        <mat-progress-spinner *ngIf="isTogglingPublished$ | async" diameter=40 color="accent" mode="indeterminate"></mat-progress-spinner>
      </div>
      <div *ngIf="post.published" class="other-actions" fxFlex fxLayoutAlign="end center">
        <button *ngIf="!(isTogglingFeatured$ | async) && post.featured" mat-icon-button class="edit-button" (click)="onTogglePostFeatured()">
          <mat-icon>star</mat-icon>
        </button>
        <button *ngIf="!(isTogglingFeatured$ | async) && !post.featured" mat-icon-button class="edit-button" (click)="onTogglePostFeatured()">
          <mat-icon>star_border</mat-icon>
        </button>
        <mat-progress-spinner *ngIf="isTogglingFeatured$ | async" diameter=40 color="accent" mode="indeterminate"></mat-progress-spinner>
      </div>
      <div *ngIf="!post.published" class="other-actions" fxFlex fxLayoutAlign="end center">
        <button mat-icon-button class="edit-button" (click)="onSelectBlogItem()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="delete-button" (click)="onDelete()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="post.scheduledPublishTime" class="scheduled-post-message">
      *Auto-publish on {{ post.scheduledPublishTime | date: 'M/dd/yy' }} at ~{{ post.scheduledPublishTime | date: 'HH:mm' }}
    </div>
  </mat-card-actions>
</mat-card>
