<div class="dialogue-container" >
  <form [formGroup]="scheduleForm" (ngSubmit)="onSave()" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">

    <mat-dialog-content fxLayout="column" fxLayoutAlign="center center">

      <div class="section-header">
        <h2 class="dialogue-title">Schedule Post</h2>
      </div>

      <div class="schedule-picker" fxLayout="column" fxLayoutAlign="center center">
        <div class="date-picker">
          <mat-form-field>
              <input formControlName="publishDate" matInput [min]="minDate" [matDatepicker]="picker" placeholder="Choose a Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker [touchUi]="useTouchUi" #picker></mat-datepicker>
            <mat-error *ngFor="let validation of SCHEDULE_POST_FORM_VALIDATION_MESSAGES.publishDate">
              <mat-error *ngIf="publishDate.hasError(validation.type) && publishDate.invalid && (publishDate.dirty || publishDate.touched)">{{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="time-picker" fxLayout="row" fxLayoutGap="16px">
          <mat-form-field class="hour-picker">
            <input formControlName="publishHour" matInput type="phone" placeholder="Hour" min="0" max="23">
            <mat-hint>0 - 23</mat-hint>
            <mat-error *ngFor="let validation of SCHEDULE_POST_FORM_VALIDATION_MESSAGES.publishHour">
              <mat-error *ngIf="publishHour.hasError(validation.type) && publishHour.invalid && (publishHour.dirty || publishHour.touched)">{{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="min-picker">
            <input formControlName="publishMin" matInput type="phone" placeholder="Min" min="0" max="59">
            <mat-hint>0 - 59</mat-hint>
            <mat-error *ngFor="let validation of SCHEDULE_POST_FORM_VALIDATION_MESSAGES.publishMin">
              <mat-error *ngIf="publishMin.hasError(validation.type) && publishMin.invalid && (publishMin.dirty || publishMin.touched)">{{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
  
    </mat-dialog-content >
  
    <mat-dialog-actions fxLayout="column" fxLayoutGap="16px">
      <div class="primary-actions" fxLayout="row">
        <button [disabled]="scheduleForm.invalid" mat-raised-button color="primary" type="submit">
          Save
        </button>
        <button mat-raised-button (click)="onClose()" type="button">
          Cancel
        </button>
      </div>
      <div *ngIf="post.scheduledPublishTime" class="secondary-actions">
        <button mat-button (click)="onClearTimer()" type="button" color="warn">
          Remove Timer
        </button>
      </div>
    </mat-dialog-actions>
  </form>

</div>