<div class="page-container" fxLayout="column" fxLayoutAlign="center center">

  <div class="back-button-container" fxLayout="row" fxLayoutAlign="start center">
    <button mat-button color="primary" routerLink="../../">Back to Messages</button>
  </div>

  <div *ngIf="contactForm$ | async as contacForm" class="contacForm-details-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
    
    <div appMatElevation class="details-card customer-details" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="8px">
      <div class="card-title" fxFlexAlign="center">Contact Form Details</div>
      <div class="card-item" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
        <div class="item-title">Date:</div>
        <div class="item-value">{{ contacForm.createdDate | date }}</div>
      </div>
      <div class="card-item" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
        <div class="item-title">Name:</div>
        <div class="item-value">{{ contacForm.firstName }}</div>
      </div>
      <div class="card-item" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
        <div class="item-title">Email:</div>
        <div class="item-value">{{ contacForm.email }}</div>
      </div>
      <div class="card-item" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="4px">
        <div class="item-title">Message:</div>
        <div class="item-value">{{ contacForm.message }}</div>
      </div>
    </div>
    
  </div>
</div>