@import '../../../../../variables';

:host {
  width: 100%;
  max-width: 1000px;
  font-size: 16px;
}

.page-container {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
}

.search-bar {
  width: 100%;
  margin-bottom: 16px;
}

.search-input {
  width: 100%;
  max-width: 400px;
}


.subscriber-details-container {
  width: 100%;
}

.details-card {
  width: 100%;
  max-width: 600px;
  padding: 32px;
}

.card-title {
  font-weight: $font-weight-medium;
  font-size: 1.2em;
}

.item-title {
  font-weight: $font-weight-medium;
}

.load-error {
  color: $warn;
  text-align: center;
}

@media screen and (max-width: $mobile-cutoff-width) {
  .details-card {
    padding: 16px;
  }
}