<div class="page-container" fxLayout="column" fxLayoutAlign="center center">

  <div class="back-button-container" fxLayout="row" fxLayoutAlign="start center">
    <button mat-button color="primary" routerLink="../../">Back to Coupons</button>
  </div>

  <div *ngIf="coupon$ | async as coupon" class="coupon-details-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
    
    <div appMatElevation class="details-card coupon-details" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="8px">
      <div class="card-title" fxFlexAlign="center">Coupon Details</div>
      <div class="card-item" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
          <div class="item-title">Coupon Code:</div>
          <div class="item-value">{{ coupon.couponCode }}</div>
        </div>
      <div class="card-item" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
        <div class="item-title">Discount Percentage:</div>
        <div class="item-value">{{ coupon.discountPercentage | percent }}</div>
      </div>
      <div class="card-item" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
        <div class="item-title">Expiration Date:</div>
        <div class="item-value">{{ coupon.expirationDate | date: 'dd/MM/yyyy HH:mm' }}</div>
      </div>
      <div class="card-item" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
        <div class="item-title">Usage:</div>
        <div class="item-value">{{coupon.useCount}} of {{ coupon.maxUses }} used ({{ coupon.useCount / coupon.maxUses | percent }})</div>
      </div>
      <div class="card-item" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
        <div class="item-title">User Specific:</div>
        <div class="item-value">{{ coupon.userSpecific ? 'Yes' : 'No' }}</div>
      </div>
      <div class="card-item" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
        <div class="item-title">Product Specific:</div>
        <div class="item-value">{{ coupon.productSpecific ? 'Yes' : 'No' }}</div>
      </div>
      <div *ngIf="coupon.productSpecific && (products$ | async)" class="card-item" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="4px">
        <div class="item-title">Approved Products:</div>
        <ul>
          <li *ngFor="let productId of coupon.approvedProductIds" class="item-value">
            {{ productId | productIdToName | async }}
          </li>
        </ul>
      </div>
      <div class="activate-container" fxFlexAlign="center">
        <mat-slide-toggle labelPosition="before" [checked]="coupon.active" (change)="onToggleActivate($event)">
          <span class="activate-text">{{ coupon.active ? 'Deactivate' : 'Activate' }}</span>
        </mat-slide-toggle>
      </div>
    </div>
  </div>

  <div class="other-actions" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
    <button mat-raised-button color="primary" (click)="onEditCoupon()">Edit Coupon</button>
    <button mat-button color="warn" (click)="onDeleteCoupon()">Delete Coupon</button>
  </div>

</div>